* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h3 {
    font-size: 18px;
}

.p-main-box {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.p-border {
    border-top: 5px solid gray;
}

.p-img {
    height: 350px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.G-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.p-box {
    width: 33.3%;
    margin: 30px;
}

.p-box h3 {
    margin: 30px 0;
}